
body{
	background-color:#f9ff8b;
	margin-left: 150px; /* Same as the width of the sidebar */
	margin-top: 100px;
	padding: 10px 10px;
    }
    

/* Chat containers */
.container {
    border: 2px solid #c88bff;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px 10px 10px;
}

/* Darker chat container */
.b {
    border-color: #ff8bcb;
    background-color:#f0f0f0;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
	border: 2px solid #c88bff;
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
}

/* Style the darker image */
.container img.b {
	border: 2px solid #ff8bcb;
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;

}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

.topnav{
	overflow: hidden; 
	position:fixed;
    background-color: #8bb7ff;
	width:100%; 
	height: 100px; 
	padding-left: 20px;
	top:0;
}


/* The sidebar menu */
.sidenav {
    height: 100%; 
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #90ff8b;
    overflow-x: hidden;
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


.sidenav a:hover {
    color: #f1f1f1;