:root{
/* background colors */
--color-main-bcg: #232323;
--color-sub-bcg: #333333;
--color-main-textbox: #666666;

/* accent colors */
--color-acc-monarchs: #003768;
--color-acc-heliotrope: #c88bff;
--color-acc-tearose: #ff8bcb;
--color-acc-mint: #90ff8b;
--color-acc-milan: #f9ff8b;
--color-acc-lightsky: #8bb8ff;

/* contrast colors */
--color-con-monarchs: #004684;
--color-con-heliotrope: #9f38fc;
--color-con-tearose: #FD32A1;
--color-con-mint: #3CFD32;
--color-con-milan: #F5FF32;
--color-con-lightsky: #3A85FC;
}

body{
	background-color:var(--color-sub-bcg);
	margin-left: 150px; 
	margin-top: 100px;
	padding: 10px 10px;
    }
    
.container {
    border: 2px solid #c88bff;
    background-color: var(--color-main-textbox);
    border-radius: 5px;
    min-height:75px;
    padding: 10px 10px 15px 10px;
    margin: 0 10px 10px 10px;
}

.b {
    border-color: #ff8bcb;
}

.container.archive-notice
{
	position:relative;
	z-index: 2;
	width:70%;
	border: 4px solid  #ffE800;
}

.container.archive-switch-notice
{
	position:relative;
	z-index: 2;
	border: 4px solid  #ffE800;
}

.container.import-dialog{
	display: none;
    position: fixed;
    top:230px;
    left:230px;
    z-index: 2;
    border: 4px solid  #ccc;
}

.close
{
	float: right;
	color:#aaa;
}

.import-frame{
	display: inline-block;
	position: relative;
	line-height: 100px;
	left: 5px;
	width: 100px;
	height:100px;
	border: 2px solid #aaa;
	margin-right: 18px;
}

.import-frame img.import{
	position: relative;
	display:block;
	width: 100px;
	height:100px;
	object-fit:cover;
  }

.thread-header
{
	position:fixed;
	z-index: 1;
	top:100px;
	width:100%;
	background-color: var(--color-sub-bcg);
	border-style: none none solid none;
	padding: 10px;
}

.thread{
	min-height:4px;
	padding: 2px;
}

.thread-b{
	min-height:4px;
	padding: 2px;
}

.thread a{
	text-decoration:none;
	color:#000000;
}
.thread-b a{
	text-decoration:none;
	color:#000000;
}



.message-text {
	margin-left: 72px;
}


.thread-title{
font-size:18px;
font-weight:bold;
padding-top:8px;
}

.thr-archived{
	position: relative;
	float: left;
	display:inline-block;
    height:50px;
    max-width: 50px;
    width: 100%;
    margin-left: 15px;
    margin-top:24px;
    z-index: 0;
    color: #aaa;
}
  
.page-count{
	position:fixed;
	z-index: 1;
	top:254px;
	background-color: var(--color-sub-bcg);
	width:100%;
	text-align:center;
} 

.message-area{
	position:absolute;
	top:287px; 
	width:88%;
}

.thread-area{
	position:relative;
	/*top:287px; */
}


.container img.embed{
	
	position: relative;
	border: none;
    float: top;
    max-width:500px;
    max-height:500px;
    margin-right: 100px;
    margin-top:24px;
    z-index: 0;
	
}

.container img.a {

	position: relative;

	position: absolute;

	border-radius: 50%;
	border: 2px solid #c88bff;
	float: left;
    height:50px;
    max-width: 50px;
    width: 100%;
   
    margin-top:24px;
    z-index: 0;

}

.container img.b {

	display:inline-block;
	position: relative;

	position: absolute;

	border-radius: 50%;
	border: 2px solid #ff8bcb;
	float: left;
    height:50px;
    max-width: 50px;
    width: 100%;

    /*margin-right: 35px;*/
    margin-top:24px;
    z-index: 0;
   }
   
   .container img.search-user {
	position: relative;
	border-radius: 50%;
	border: 2px solid #ff8bcb;
	float: left;
    height:60px;
    max-width: 60px;
    width: 100%;
    margin-right:30px;
    margin-top:12px;
    margin-left:14px; 
    z-index: 0;

    margin-right: 35px;
    margin-top:24px;
    z-index: 0;

   }
   

.right-corner {
    float: right;
    color: #aaa;
}


.name-left {
	position:relative;
	display: inline-block;
	left:-56px;
    float: left;
    color: #aaa; 
	margin-top:auto;
}

.name-left a{
	color: #aaa; 
	text-decoration: none;
}

.name-center{
	position:relative;
	
	padding-top: 25px;
	display:inline-block;
	font-size:28px;
	font-weight:bold;
}

a.name-center-a{
	color: #aaa; 
	text-decoration: none;
}

a.name-center-a:hover {
    color: #f1f1f1;
}

.name-left a:hover {
    color: #f1f1f1;
}

.topnav{
	position:fixed;
    background-color: #181818;
	width:100%; 
	height: 77px; 
	top:0;
	left:0;
	padding-left: 20px;
	padding-top: 25px;
	z-index:2;
}


.topnav a {
	display:inline;
	text-decoration: none;
    font-size: 30px;
    color: #818181;
}

.topnav a:hover {
    color: #f1f1f1;
}

.accent{
    background-color: #ff8bcb;
	height: 13px; 
	top:69px;
	padding-top:0;
	z-index:2;
}

.topnav-icon{
	position: relative;
	border-radius: 50%;
	border: 2px solid #818181;
	height:50px;
	max-width: 50px;
	width: 100%;
	top: 4px;
	margin-right:3px;
	z-index: 3;
}

/* The sidebar menu */
.sidenav {
    height: 100%; 
    width: 160px;
    position: fixed;
	top:0;
	left:0;
    background-color: #232323;
    overflow-x: hidden;
    padding-top: 20px;
    z-index: -1;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


.sidenav a:hover {
    color: #f1f1f1;
}

.dropdown{
	position:relative;
	padding-bottom:30px;
	float: right;
	top:-20px;
	right:130px;
	font-size:20px;
	color: #818181;
	z-index:3;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position:absolute;
    padding: 14px 4px;
    margin-top:5px;
    background-color: #818181;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 3px 4px;
    text-decoration: none;
    display: block;
    font-size:16px;
    font-weight:bold;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


.material-icons.archived { 
	font-size: 60px;
	color:#181818;
	margin-left: 15px; 
	margin-top:10px; 
	margin-right:10px; 
	margin-bottom:10px;
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

